.navbar {
    background-color: #000000;
}
.navbar .navbar-nav > li > a:hover,
.dropdown-toggle:active, .open .dropdown-toggle,
.navbar .navbar-nav > .dropdown > .dropdown-toggle:hover,
.navbar .navbar-nav > .dropdown > .dropdown-toggle:focus,
.navbar .navbar-nav > .dropdown > .dropdown-toggle:active {
    background:#000000 !important; 
    color:#FFF !important;
}
.panel-collapse {
    list-style: none;
}
.nav-stacked > li > a > .caret {
    float: right;
}