<div class="block-area" id="defaultStyle">
	{{proveedores}}
	<div class="table-responsive overflow">
		<table class="table table-bordered table-hover tile">
			<thead>
				<tr>
					<td>Empresa</td>
					<td>Teléfono</td>
					<td>Correo Electrónico</td>	
					<td>Dirección</td>
					<td>Proveedor desde</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="proveedor in proveedores">
					<td>{{proveedor.empresa}}</td>
					<td>{{proveedor.telefono}}</td>
					<td>{{proveedor.email}}</td>
		            <td>{{proveedor.direccion}}</td>
					<td>{{proveedor.created_at | date:'medium'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>