<table class="table table-hover">
	<thead>
		<tr>
			<td>Nombre</td>
            <td>Dirección</td>
			<td>Teléfono</td>
			<td>Email</td>	
			<td>Opciones</td>	
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="sucursal in sucursales" ng-mouseover="visible(true)" ng-mouseleave="visible(false)">
			<td>{{sucursal.nombre}}</td>
            <td>{{sucursal.direccion}}</td>
			<td>{{sucursal.telefono}}</td>
			<td>{{sucursal.email}}</td>
			<td ng-show="opciones"> 
				<a href=""  ng-click= "edit(sucursal.id)"> 
				  <i class="glyphicon glyphicon-edit ">  </i>
				</a>
			</td>
		</tr>
	</tbody>
</table>