<add-cliente></add-cliente>
<button class="btn btn-success" ng-click="newCliente()">Add</button>
<table class="table table-hover">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Dirección</td>
			<td>Teléfono</td>	
			<td>Correo Electrónico</td>	
			<td>Cliente desde</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="cliente in clientes">
			<td>{{cliente.nombre}}</td>
			<td>{{cliente.direccion}}</td>
			<td>{{cliente.telefono}}</td>
			<td>{{cliente.email}}</td>
			<td>{{cliente.created_at | date:'medium'}}</td>
		</tr>
	</tbody>
</table>
