
    <!-- Breadcrumb -->
    <ol class="breadcrumb hidden-xs">
        <li>Inicio</li>
        <li>Farmacias</li>
        <li class="active">Datos</li>
    </ol>
<a class="btn btn-primary m-r-5 pull-right" ng-click="open()">Agregar</a>

<h2 >
	Farmacias	
</h2> 
<hr class="whiter" />


<div class="row">
	<section class="col-md-4">
		<input type="text" class="main-search pull-left" ng-model='search'>
    <a class="pull-right" href="" ng-click="show('edit', 0)">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
		<table class="table table-hover">			
			<tbody>
				<tr ng-repeat="farmacia in farmacias | filter:search" ng-mouseenter='visible(true)' ng-mouseleave='visible(false)'>
					<td>
						<a href="">
							{{farmacia.nombre}}
                <a class="pull-right" href="" ng-show="options" ng-click= "show('sucursales', farmacia.id)"> 
                  <i class="glyphicon glyphicon-th-list ">  </i>
                </a>
                <a class="pull-right" href="" ng-show="options" ng-click= "show('edit', farmacia.id)"> 
                  <i class="glyphicon glyphicon-edit ">  </i>
                </a>
                
              </span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section class="col-md-8">
		<alerts> </alerts>
    <sucursales ng-show="action == 'sucursales'"> </sucursales>
    <add-farmacia ng-show="action == 'edit'"> </add-farmacia>
		<!-- <form class="form-horizontal" role="form" ng-submit="guardar()">
                       <div class="form-group">
                         <div class="col-sm-offset-2 col-sm-8">
                           <button type="submit" class="btn btn-default">Guardar</button>
                        
                           <a ng-click="nuevo()" class="btn btn-primary">nuevo</a>
                         </div>
                       </div>
                       <div class="form-group">
                         <label for="nombre" class="col-sm-2 control-label">Nombre</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" ng-model = "farmacia.nombre"  required placeholder="Nombre">
                         </div>
                       </div>
                       <div class="form-group">
                         <label for="direccion" class="col-sm-2 control-label">Dirección</label>
                         <div class="col-sm-8">
                           <input type="textarea" rows="3" class="form-control" ng-model = "farmacia.direccion"  required placeholder="Dirección">
                         </div>
                       </div>
                       <div class="form-group">
                         <label for="telefono" class="col-sm-2 control-label">Teléfono</label>
                         <div class="col-sm-8">
                           <input type="tel" class="form-control" ng-model = "farmacia.telefono"  required placeholder="Teléfono">
                         </div>
                       </div>
                       <div class="form-group">
                         <label for="web" class="col-sm-2 control-label">Web</label>
                         <div class="col-sm-8">
                           <input type="url" class="form-control" ng-model = "farmacia.web"  placeholder="Web">
                         </div>
                       </div>
                       <div class="form-group">
                         <label for="email" class="col-sm-2 control-label">Correo</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" ng-model = "farmacia.email"  placeholder="Correo electronico">
                         </div>
                       </div>
                     </form> -->

	</section>
</div>
