<add-farmacia></add-farmacia>
<button class="btn btn-success" ng-click="newFarmacia()">Add</button>
<table class="table table-hover">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Dirección</td>
			<td>Teléfono</td>
            <td>Correo Electrónico</td>
            <td>Farmacia desde</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="farmacia in farmacias">
			<td>{{farmacia.nombre}}</td>
			<td>{{farmacia.direccion}}</td>
            <td>{{farmacia.telefono}}</td>
            <td>{{farmacia.email}}</td>
			<td>{{farmacia.created_at | date:'medium'}}</td>
		</tr>
	</tbody>
</table>
