
<div class="row" ng-controller='inicioController'>
    <!-- Breadcrumb -->
    <ol class="breadcrumb hidden-xs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
     <!-- Shortcuts -->
    <div class="block-area shortcut-area">
        <a class="shortcut tile" href="">
            <img src="assets/img/money.png" alt="">
            <small class="t-overflow">Purchases</small>
        </a>
        <a class="shortcut tile" href="">
            <img src="assets/img/twitter.png" alt="">
            <small class="t-overflow">Tweets</small>
        </a>
        <a class="shortcut tile" href="">
            <img src="assets/img/calendar.png" alt="">
            <small class="t-overflow">Calendar</small>
        </a>
        <a class="shortcut tile" href="">
            <img src="assets/img/stats.png" alt="">
            <small class="t-overflow">Statistics</small>
        </a>
        <a class="shortcut tile" href="">
            <img src="assets/img/connections.png" alt="">
            <small class="t-overflow">Connection</small>
        </a>
        <a class="shortcut tile" href="">
            <img src="assets/img/reports.png" alt="">
            <small class="t-overflow">Reports</small>
        </a>
    </div>
    
    <hr class="whiter" />
    <h4 class="page-title">DASHBOARD</h4>

    
    <!-- <div class="col-md-3">
        <div class="well">Ventas del Mes<span class="badge pull-right">20</span></div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-3">
        <div class="well">Nuevas Requisiciones<span class="badge pull-right">2</span></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3">
        <div class="well">Nuevas Requisiciones<span class="badge pull-right">2</span></div>
    </div>
    <div class="col-md-3">
        <div class="well">Nuevas Requisiciones<span class="badge pull-right">2</span></div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
			<div class="panel-heading">Últimas Ventas</div>
            <div class="panel-body">
                <table id="example" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Hora</th>
                            <th>Fecha</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cliente 1</td>
                            <td>11:10 p.m</td>
                            <td>26/11/14</td>
                            <td>$15.50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</div>
