


    <!-- Breadcrumb -->
    <ol class="breadcrumb hidden-xs">
        <li>Inicio</li>
        <li>Productos</li>
        <li class="active">Datos</li>
    </ol>
<a class="btn btn-primary m-r-5 pull-right" ng-click="open()">Agregar</a>
</h4>
<hr class="whiter" />
<h4 class="page-title">
	Productos	
</h4> 
<div class="block-area" id="defaultStyle">
	<div class="table-responsive overflow">
		<table class="table table-bordered table-hover tile">
			<thead>
				<tr>
					<td>Código</td>
					<td>Nombre</td>
					<td>Concentración</td>
					<td>Administración</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="producto in productos">
					<td>{{producto.nombre}}</td>
					<td>{{producto.descripcion}}</td>
					<td>{{producto.minimo}}</td>
					<td>{{producto.ubicacion}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
