<add-sucursal></add-sucursal>
<button class="btn btn-success" ng-click="newSucursal()">Add</button>
<table class="table table-hover">
	<thead>
		<tr>
			<td>Nombre</td>
            <td>Dirección</td>
			<td>Teléfono</td>
			<td>Correo Electrónico</td>	
			<td>Sucursal desde</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="sucursal in sucursales">
			<td>{{sucursal.nombre}}</td>
            <td>{{sucursal.direccion}}</td>
			<td>{{sucursal.telefono}}</td>
			<td>{{sucursal.email}}</td>
			<td>{{sucursal.created_at | date:'medium'}}</td>
		</tr>
	</tbody>
</table>
